// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('~vuetify/dist/vuetify.min.css');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
//Include at least one of the below, depending on what icons you want.
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/v4-shims";
@import "node_modules/vue-multiselect/dist/vue-multiselect.min";

@import 'partials/dropzone.scss';
@import 'partials/filemanager.scss';


.navbar-nav li.nav-item {
    display: flex;
    align-items: center;
}

.nav.text-light a.nav-link {
    color: #f8f9fa !important
}

.is-link {
    cursor: pointer;
}

.multiselect {
    .custom__tag {
        background: #1fa1b8;
        padding: 3px 8px 3px 5px;
        color: #fff;
        position: relative;
        border-radius: 5px;
        display: inline-block;
        margin-right: 9px;
    }
    .custom__remove {
        position: absolute;
        background: red;
        border-radius: 50%;
        padding: 1px 5px;
        color: #fff;
        top: -7px;
        font-size: 10px;
    }
}


.course {
    text-decoration: none;
    color: rgb(100, 100, 100);
    .card {
        
        box-shadow: 1px 1px 1px #d0cccc;
        .card_img {
            position: relative;
            overflow: hidden;
            .fa-play-circle {
                display: none;
            }
            
        }
        .card-body {
                
            padding: 7px;
            margin-left: 8px;

            p.card-text {
                height: 39px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                -webkit-line-clamp: 2;
                display: -webkit-box !important;
                -webkit-box-orient: vertical;
            }
            
        }
        .card-title {
            margin: 0px;
            margin-bottom: 8px;
            font-size: 17px;
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
        }

        .card-footer {
            background: #FFFFFF;
            border-top: none;
        }
        
    }
    &:hover {
        box-shadow: 1px 1px 1px  1px #eae5e5;
        .card_img::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(25,25,25,0.4);
        }
        .card_img .fa-play-circle {
            left: 32%;
            display: block;
            position: absolute;
            font-size: 85px;
            top: 20%;
            color: #9e9c9c;
            background-color: #464646;
            border-radius: 50%;
        }
    
    }
}

.course_head{
    
        background-color: #b4e2f5;
        
        padding-bottom: 25px;
    
    .course_text h5{
        
        font-size: 30px;
        color: #563d7c;
        

    }
    .course_logo img{
        width: 243px;
        height: 275px;
        border-radius: 100%;
    }
    .course_logo h5{
        padding-left: 45px;
    }

}

.lesson_part{
    .back{
        background-color: #f4f4f5;
        padding: 10px;
    }
    .lessons{
        .card-icon i {
            background-color: #e4e4e8;
            padding: 7px;
            border-radius: inherit;

        }  
    }
}

.lesson-list{
    overflow: scroll;
    height: 300px;
    width: 100%;
}
 
