
.media-manager {
    .navbar{
        background: #ddd;
        padding: 0.1rem 1rem;
        a.active {
            color: #0d5e4e;
        }
        .btn-sm, .btn-group-sm > .btn {
            padding: 0.15rem 0.5rem;
        }
    }
    .file-container {
        min-height: 200px;
        .file-items {
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 10px 0;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li.file {
                    padding: 2px 8px;
                    overflow: hidden;
                    background: #fff;
                    box-shadow: 1px 1px 5px 0px #777;
                    flex-basis: 145px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin: 5px;
                
                    .bar {
                        .fas {
                            text-align: center;
                            display: block;
                            color: #ff0124;
                            background: #333;
                        }
                    }
                    .name {
                        width: 100%;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    img {
                        width: 100%;
                        max-height: 100px;
                    }
                    input, .uploader, .ulat {
                        display: none;
                    }
                    &.selectd {
                        border: 1px solid #0d5e4e;
                    }
                    
                    
                }
            }
            &.list-view {
                ul {
                    display: block;
                    li.file{
                        display: flex;
                        width: 98%;
                        overflow: hidden;
                        justify-content: center;
                        align-items: center;
                        input {
                            display: inline-block;
                            flex-basis: 30px;
                        }
                        img {
                            width: 80px;
                            max-height: 48px;
                        }
                        .name{
                            width: auto;
                            flex-grow: 1;
                        }
                        .uploader, .ulat {
                            display: inline-block;
                            flex-basis: 150px;
                        }
                    }
                }
            }
        }
        .nofile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            color: #ddd;
        }
        .sidebar {
            height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
            padding-left: 0;
        }
    }
    .footer {
        width: 100%;
        border-top: 1px solid #ddd;
        padding: 1rem 2rem 0rem;
    }
    
}
.file-preview {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem 0;
    .file-lists {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .items {
            display: flex;
            position: relative;
            align-items: flex-start;
            max-width: 150px;
            margin-left: 2px;
            -webkit-transition: all .2s; /* Safari prior 6.1 */
            transition: all .2s;
            img {
                width: 100%;
                height: 100%
            }
            &:hover {
                box-shadow: 1px 3px 6px 0px rgba(139, 139, 139, 0.664);
            }
            .close {
                position: absolute;
                top: -10px;
                right: -5px;
                color: #e60909;
                opacity: 1;
                -webkit-transition: all .2s; /* Safari prior 6.1 */
                transition: all .2s;
                &:hover{
                    background:#700f0f;
                    border-radius: 50%;
                    padding: 0px 3px;
                    color: #FFF;
                    background: red;
                    font-size: 1rem;
                }
            }
        }
    }
}

